<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Vulnerable Bank</title>
        <link rel="stylesheet" href="https://unpkg.com/mvp.css">
    </head>
    <body>
        <% if (current !== 'login') { %>
            <%- include('nav') %>
        <% } %>
        <article>
            <% if (msg) { %>
                <aside>
                    <p>
                        <em><%= msg %></em>
                    </p>
                </aside>
            <% } %>
